body {
    background-color: aqua;
}


.header {
    margin-top: 100px;
    display : flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    margin-bottom: 10px;
}
button {
    background-color: yellow;
    border-radius: 10px;
}

.container {
    width: 600px;
    height: 500px;
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.cell{
    width: 150px;
    height: 150px;
    background: linear-gradient(orange,red);
    margin: 5px;
    border-radius: 10px;
    box-shadow: 7px 12px #888888
    
    
}

.cell:hover {
    border-radius: 40px;
    transition: 0.4s;
}
